<ul style="margin: 0 0 0 30px;">
  <% comment.comments.reverse.each do |comment| %>
    <li>
      <%= render 'comments/comment', comment: comment %>
      <%= render 'comments/comment_new', comment: comment %>

      <% if comment.comments.any? %>
        <%= render 'comments/comments', comment: comment  %>
      <% else %>
        <ul style="margin: 0 0 0 30px;"></ul>
      <% end %>
    </li>
<% end %>
</ul>