<div class="edit_comment">
  <%= form_for :comment, url: comment_path, method: 'patch', html: {class: 'pure-form'} do |form| %>
    <div class="field">
     <%= form.text_area :body, placeholder: 'Текст комментария...' %>
    </div>
    <%= form.file_field :image %>

    <div class="actions">
      <%= form.submit class: 'pure-button pure-button-primary' %>
    </div>
  <% end %>
</div>
