<div class="form_edit">
    <%= render 'form', user: @user %>
    <%= link_to 'Delete', user_path, method: 'delete', data: {confirm: "Ты точно в этом уверен?"}, class: 'pure-button pure-button-primary' %>
</div>



