.button-to-like {
    // position: absolute;
    // top: -30px;
    // right: 10px;
    height: 20px;
    width: auto;
    font-size: 10px;
    border: 2px solid darkgrey;
    background-color: transparent;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: 0 5px;
    color: darkgray;
    transition: all ease 0.4s;
  
    &:focus {
      outline: none;
      background-color: transparent;
    }
  
    &:hover {
      border-color: #0078e7;
      background-color: transparent;
  
    }
  }
  
  
  