<div class="field">
  <%= form.text_field :title, placeholder: 'Post title', maxlength: 20 %>
</div>

<div class="field">
  <%= form.text_area :body, placeholder: 'Tell smth...', maxlength: 5000 %>
</div>
<div class="custom-file">
  <label class="custom-file-label" for="customFile">Choose files</label>
  <%= form.file_field :images, multiple: true, class: 'custom-file-input post_input', id: 'customFile' %>
</div>

<% if type == 'new_post' %>
  <div class="new_post_attachments"></div>
<% end %>

<div class="actions">
  <%= form.submit class: 'pure-button pure-button-primary' %>
</div>