<div class="field">
  <%= form.text_field :title, placeholder: 'Заголовок поста', maxlength: 20 %>
</div>

<div class="field">
  <%= form.text_area :body, placeholder: 'Расскажите что-нибудь..', maxlength: 5000 %>
</div>

<div class="actions">
  <%= form.submit class: 'pure-button pure-button-primary' %>
</div>