<div class="edit_post">
  <%= form_for @post, url: user_post_path, method: "put", html: {class: 'pure-form'} do |form| %>
    <%= render 'posts/post_form', user: @user, form: form %>
  <% end %>
</div>