/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *#EDEEF0#EDEEF0
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "bootstrap";


.btn {
  width: 100%;
  font-size: 12px;
  margin: 5px 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #EDEEF0;
}

.main_section, .container {
  max-width: 900px;
}

.main_section {
  margin: 0 auto;
  width: 100%;
}

a, a:active {
  text-decoration: none;
  color: black;
}

.modal {

}

.modal-dialog {
  position: relative;
  width: 90%;
  height: 90%;
  max-height: 100%;
  max-width: 100%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-content {
  height: 100%;
  width: 100%;
  min-height: 100%;
  border-radius: 0;
}

.alert {
  position: fixed;
  top: 70px;
  right: 10px;
}

.full_width {
  width: 100%;
}

.fa {
  font-size: 16px;
}

ul {
  margin: 0;
}

.form-control {
  font-size: 12px;
  border-radius: 0;
}

.form-group {
  margin-bottom: 0;
}

.custom-file-label {
  border-radius: 0;
  font-size: 12px;
}