label {
    display: block;
}

input {
    width: 100%;
    &:last-child {}
}

.submit_form {
    margin-top: 5px;
}

form[action="/signup"] {
    width: 50%;
    margin: 20px auto;
}

.errors_list {
    margin-top: 10px;
    font-size: 12px;
    li {

    }
}

.error_text {
  margin: 3px 0 10px 0;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  background-color: rgba(255,173,173,.1);
  box-shadow: 0px 0px 2px 0px rgba(255,5,5,1);
}