.edit_post {
  margin-top: 10px;
  input, textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}

.attachments {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  &_image {
    margin: 5px;
    &::after {
      content: '';
      flex: auto;
      }
  }
}

.post_img_edit {
  max-height: 200px;
  max-width: 200px;
}