.edit_post {
  margin-top: 10px;
  input, textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}

.attachments.old, .attachments.new {
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  .attachments_image {
    margin: 5px;
  }
}

.attachments.new {
  border-top: 1px solid rgba(0,0,0,0.2);
}

.attachments_image {
  max-width: 150px;
}

.post_images_show {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #0000000f;
  border-radius: 5px;
}

.post_image_show {
  margin: 5px;
  &:hover {
    .img_del {
      opacity: 1;
    }
  }
}

.post_img_edit {
  &:hover ~ {
    .img_del {
      opacity: 1;
    }
  }
}

.new_post_img {
  width: 150px;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.new_post_attachments {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}