* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  width: 100%;
}

img {
  max-width: 100%;
}

a, a:active {
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
}

ul {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
}

li {
  list-style: none;
}

.pure-form {
  input, textarea {
    width: 100%;
  }
}

.fa {
  font-size: 16px;
}

.relative {
  position: relative;
}

.fit_content {
  width: fit-content;
}

.flex {
  display: flex;
}

.notice {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
}

form {
}

div, ul {
  transition: 1s;
}

.fa {
  transition: .3s;
}

.pure-form label {
  margin: 0!important;
}