* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.pure-form {
  input, textarea {
    width: 100%;
  }
}