a:visited {
  color: black;
}

.main_block {
  margin-top: 20px;
  width: 100%;
  display: flex;
  // justify-content: space-between;

  .left_block {
    width: 350px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  }

  .right_block {
    width: 540px;
    margin-left: 20px;

    .top_block {
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
      padding: 10px 20px;
      .first_line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(218, 218, 218);
        .online_status {
          opacity: .6;
          font-size: 14px;
        }
      }
      .user_info {
        font-size: 14px;
        margin-top: 10px;
        table {
          width: 100%;
          tr {
            .left_column {
              width: 40%;
            }
            .right_column {
              width: 60%;
            }
          }
        }
      }
    }
    .new_post {
      margin: 10px 0 0 0;
      input, textarea {
        width: 100%;
        margin-bottom: 5px;
      }
    }

    .post {
      width: 100%;
      margin-bottom: 10px;
      &_main_block {
        position: relative;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        border-bottom: 1px solid rgb(218, 218, 218);
        .title_border {
          margin: 5px 0;
          width: 100%;
          opacity: .1;
          border-bottom: 1px solid black;
        }
        .delete_post_img {
          position: absolute;
          width: 20px;
          height: 20px;
          right: 10px;
          top: 10px;
          background-size: cover;
          background-image: url('https://c7.uihere.com/icons/705/357/295/bin-delete-empty-junk-remove-trash-icon-05072d5c8a4d895ba836dae3f1e6f2f1.png');
        }
        .edit_post_img {
          position: absolute;
          width: 17px;
          height: 17px;
          right: 40px;
          top: 10px;
          background-size: cover;
          background-image: url('https://image.flaticon.com/icons/png/128/61/61456.png');
        }
      }
      &_comments {
        width: 100%;
        margin: 5px 0;
        background-color: rgb(245, 245, 245);
      }
      &_comment {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5px 10px;
        font-size: 12px;
        &_avatar {
          width: 25px;
          height: 25px;
        }
      }
      .edit_comment_text {
        font-size: 10px;
        text-align: right;
        padding: 0 5px 5px 0;
      }
      .comment_right_block {
        width: 100%;
        margin-left: 5px;
      }
      .add_comment {
        input, textarea {
          margin-bottom: 5px;
          font-size: 12px;
          width: 100%;
        }
      }
    }
  }
}

.form_edit {
  width: 50%;
  margin: 0 auto;
  a[data-method="delete"] {
    margin-top: 10px;
    width: 100%;
  }
}